html,
body {
  cursor: default !important;
}

textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
code {
  cursor: text !important;
}

a,
label,
button,
input[type="button"],
input[type="radio"],
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="checkbox"] {
  cursor: pointer !important;
}

button[disabled],
input[disabled],
select[disabled] {
  cursor: default !important;
}
